

<section class="formacion" id="formacion">
    <h1 data-section="formacion" data-value="title" data-aos="fade-up">Servicios</h1>

    <div class="cards_container--formacion">
        <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img class="logo-sena" src="./assets/corte_masculino.jpg" alt="Logo - SENA" style="width: 250px; height: 170px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion3">Cortes Masculinos</p>
                <p>Barberia</p>
            </div>
        </div>

        <div class="cards--formacion" data-aos="fade-up" data-aos-duration="500">
            <img class="logo-sena" src="./assets/perfilado-barba.jpg" alt="Logo - Udemy" style="width: 260px; height: 180px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion2">Perfilado Barba</p>
                <p data-section="formacion" data-value="tiempo-formacion2">Barberia</p>
            </div>
        </div>

        <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img class="logo-sena" src="./assets/cepillo_cabello.jpg" alt="Logo - SENA" style="width: 260px; height: 180px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion3">Cepillado Cabello</p>
                <p>Peluqueria</p>
            </div>
        </div>
        <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img class="logo-sena" src="./assets/mascarilla_facial.jpg" alt="Logo - SENA" style="width: 260px; height: 180px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion3">Mascarilla Facial</p>
                <p>Peluqueria</p>
            </div>
        </div>
    </div>
</section>