

<section class="habilidades" id="habilidades">
    <h1 data-section="habilidades" data-value="title" data-aos="fade-up">Galeria</h1>

    <img src="./assets/puntos.png" alt="Decoración puntos" class="puntos1-habilidades">
    <img src="./assets/puntos.png" alt="Decoración puntos" class="puntos2-habilidades">

    <div class="cards_container--habilidades">
        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="500">
            <img src="./assets/1.jpg" alt="HTML">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="700">
            <img src="./assets/2.jpg" alt="CSS">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="900">
            <img src="./assets/3.jpg" alt="JavaScript">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="1100">
            <img src="./assets/4.jpg" alt="Cshart" style="width: 80px; height: 90px">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="500">
            <img src="./assets/5.jpg" alt="Java" style="width: 80px; height: 90px">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="700">
            <img src="./assets/6.jpg" alt="Git">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="900">
            <img src="./assets/7.jpg" alt="GitHub">
            
        </div>

        <div class="cards--habilidades" data-aos="fade-up" data-aos-duration="1100">
            <img src="./assets/8.jpg" alt="Sql" style="width: 80px; height: 90px">
            
        </div>
    </div>
</section>