<!-- Sobre mí -->
<section class="sobreMi" id="sobreMi">
    <h1 data-section="sobre-mi" data-value="title" data-aos="fade-up">Sobre Nosotros</h1>

    <div class="container_content-sobreMi" data-aos="fade-right">
        <div class="container_texto-sobreMi">
            <span class="title_sobreMi">BelcomSpa</span>
            <span class="texto_sobreMi" data-section="sobre-mi" data-value="texto_sobreMi">
                En BelcomSpa, no solo estamos comprometidos con el arte de la barbería y la peluquería, sino también con la creación de experiencias inolvidables para nuestros clientes. Ubicados estratégicamente en el vibrante corazón de Medellín, nos enorgullece ser el destino preferido para aquellos que buscan más que un simple corte de cabello o un servicio de belleza; buscamos ser el lugar donde la elegancia se encuentra con la autenticidad.

                En un mundo donde la imagen personal es crucial, en BelcomSpa entendemos la importancia de cada detalle. Nuestro talentoso equipo de barberos y estilistas no solo posee habilidades excepcionales, sino que también se dedica a entender las necesidades únicas de cada cliente. Desde los cortes de vanguardia hasta los tratamientos de belleza rejuvenecedores, nos esforzamos por superar las expectativas, proporcionando resultados que reflejen la personalidad y estilo individual de cada persona que cruza nuestras puertas.<br>
            </span>
        </div>

        <picture class="container_image-sobreMi">
            <img class="image_sobreMi" src="assets/SeccionAbout.jpg" alt="img-principal">
        </picture>
    </div>
</section>