<!-- Contacto -->
<section class="contacto" id="contacto">
    <h1 data-section="contacto" data-value="title" data-aos="fade-up">Contacto</h1>

    <div class="container_box--contacto" data-aos="fade-up" data-aos-anchor-placement="center-bottom">

        <div class="container--contacto">
            <div class="container_text--contacto">
                <p data-section="contacto" data-value="text">Completa el siguiente formulario y me pondré en contacto contigo lo antes posible.</p>
            </div>

            <form class='form-contact' id='form' method='post' name='contacto-portafolio'>
                <input type='hidden' name='form-name' value='contacto-portafolio' />
                <input id="nombre" type="text" name="name" placeholder="Nombre | Name" required>
                <input id="email" type="email" name="email" placeholder="E-mail" required>
                <input id="asunto" type="text" name="affair" placeholder="Asunto | Subject" required>
                <textarea id="mensaje" cols="20" rows="4" name="message" placeholder="Mensaje | Message" required></textarea>

                <div class="btn_form--contacto">
                    <button id="btn-enviar" type="submit" data-section="contacto" data-value="btn-enviar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>