

<section class="formacion" id="formacion">
    <h1 data-section="formacion" data-value="title" data-aos="fade-up">Servicios</h1>

    <div class="cards_container--formacion">
        <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img class="logo-sena" src="./assets/politecnico-logo.png" alt="Logo - SENA" style="width: 250px; height: 170px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion3">Tecnica en Desarrollo de Software</p>
                <p>2022 - 2023</p>
            </div>
        </div>

        <div class="cards--formacion" data-aos="fade-up" data-aos-duration="500">
            <img class="logo-sena" src="./assets/udemy-logo.png" alt="Logo - Udemy" style="width: 260px; height: 180px">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion2">Cursos de Desarrollo de Software Udemy</p>
                <p data-section="formacion" data-value="tiempo-formacion2">2021 - En Curso</p>
            </div>
        </div>

        <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
            <img class="logo-sena" src="./assets/sena-logo.png" alt="Logo - SENA">
            <div class="container_texto--formacion">
                <p data-section="formacion" data-value="formacion3">Análisis y Desarrollo de Software</p>
                <p>2022 - En Curso</p>
            </div>
        </div>
    </div>
</section>